
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-globe:before { content: '\e801'; } /* '' */
.icon-gmail:before { content: '\e802'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-bed:before { content: '\f236'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */